.main{
     height: 80vh;
    width: 80wh;
    background-color: lightcyan;
    text-align: center;
    margin: 90px;
    padding: 20px;
    font-size: 20px;
}
.head{
    flex: 1;
    display: flex;
    width: 80vw;
    height: 5vh;
    padding: 5px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px rgb(169, 168, 168);
    justify-content: center;
   
}

.a{
    background-color: grey;
    height: 3vh;
    width: 10vw;
    border-radius: 6px;
    
    
}
.b{
    background-color: grey;
    height: 3vh;
    width: 10vw;
    border-radius: 6px;
}
.c{
    background-color: grey;
    height: 3vh;
    width: 10vw;
    border-radius: 6px;
}
.d{
    background-color: grey;
    height: 3vh;
    width: 10vw;
    border-radius: 6px;
    flex-direction: column;
}
.second{
    flex-direction: row;
    flex: 1;
    background-color: grey;
    width: 80.5vw;
    height: 30vh;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px rgb(169, 168, 168);
    margin-top: 20px;
}
.m{
     box-shadow: 0px 0px 1px 0px rgb(169, 168, 168);
     border-radius: 10px;
}
.third{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
.img{
    background-color: grey;
    height: 20vh;
    width: 20vw;
     border-radius: 10px;
    box-shadow: 0px 0px 1px 0px rgb(169, 168, 168);
}
.as{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 150px;
}
.img1{
    background-color: grey;
    height: 3vh;
    width: 10vw;
     border-radius: 7px;
    box-shadow: 0px 0px 1px 0px rgb(169, 168, 168);
}
.foot{
    flex-direction: row;
    flex: 1;
    background-color: grey;
    width: 80vw;
    height: 8vh;
    margin-top: 2px;
     border-radius: 10px;
    box-shadow: 0px 0px 1px 0px rgb(169, 168, 168);
}