.main{
     height: 75vh;
    width: 80wh;
    background-color: lightcyan;
    text-align: center;
    margin: 90px;
    padding: 20px;
    font-size: 20px;
}
.head{
    flex: 1;
    display: flex;
    padding: 10px;
   margin-top: 0px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px rgb(169, 168, 168);
}

.a{
    background-color: grey;
    height: 3vh;
    width: 10vw;
    border-radius: 6px;
    margin-right: 720px;
}
.b{
    background-color: grey;
    height: 3vh;
    width: 10vw;
    border-radius: 6px;
}
.c{
    background-color: grey;
    height: 3vh;
    width: 10vw;
    border-radius: 6px;
}
.d{
    background-color: grey;
    height: 3vh;
    width: 10vw;
    border-radius: 6px;
    flex-direction: column;
}
.second{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    
}
.aside{
   background-color: grey;
   flex-direction:row;
    flex: 2;
    padding: 50px;
    height: 160px;
     border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgb(169, 168, 168);
    
}

.img1{
    background-color: grey;
    height: 5vh;
    width: 60vw;
    flex-direction:column;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgb(169, 168, 168);
}
.img2{
    background-color: grey;
    height: 5vh;
    width: 60vw;
    flex-direction:column;
    margin-top: 10px;
     border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgb(169, 168, 168);
}
.img3{
    background-color: grey;
    height: 5vh;
    width: 60vw;
    flex-direction:column;
    margin-top: 10px;
     border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgb(169, 168, 168);
}
.img4{
    background-color: grey;
    height: 5vh;
    width: 40vw;
    flex-direction:column;
    margin-top: 10px;
     border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgb(169, 168, 168);
}
.img5{
    background-color: grey;
    height: 10vh;
    width: 20vw;
    flex-direction:column;
    margin-top: 10px;
     border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgb(169, 168, 168);
}

.foot{
    flex-direction: row;
    flex: 6;
    background-color: grey;
    width: 80vw;
    height: 10vh;
    margin-top: 10px;
     border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgb(169, 168, 168);
}